################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MovieManager/bin/Debug/netcoreapp3.1
/MovieManager/obj
